---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-An-Requestid:
      - e6af6872e280762b
      X-Route:
      - "/auth"
      X-Route-Time:
      - '508'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"authn:171678:dd3d241c42b33:nym2","dbg_info":{"instance":"01.authentication-api.test175158.nym2","time":507,"start_time":"2018-01-30T17:26:01.466Z","version":"1.2.0","trace_id":"e6af6872e280762b","span_id":"e6af6872e280762b"}}}'
  recorded_at: Tue, 30 Jan 2018 17:26:00 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/report?meta=advertiser_analytics&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authn:171678:dd3d241c42b33:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-An-Requestid:
      - e7de3c2d17386d38
      X-Count-Read:
      - user:3,member:0,serviceHostUser:1,serviceHostMember:0,hostUser:3,hostMember:0,ip:0
      X-Count-Write:
      - user:0,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Rate-Limits:
      - cru=3;crm=3;cwu=0;cwm=0;lru=1000;lrm=1000;lwu=1000;lwm=1000
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/report"
      X-Route-Time:
      - '720'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","meta":{"time_granularity":"hourly","columns":[{"column":"hour","type":"date"},{"column":"day","type":"date"},{"column":"month","type":"date"},{"column":"buyer_member_id","type":"int"},{"column":"seller_member_id","type":"int"},{"column":"seller_member_name","type":"string"},{"column":"seller_member","type":"string"},{"column":"line_item_id","type":"int"},{"column":"line_item_name","type":"string"},{"column":"line_item","type":"string"},{"column":"campaign_id","type":"int"},{"column":"campaign_name","type":"string"},{"column":"campaign","type":"string"},{"column":"[...]
